body {
    background-color: #212121;
}

li {
    margin-left: 10px;
    font-size: 18px;
}

.image-container {
    position: relative; 
  }
  
  .text-overlay {
    position: absolute; 
    top: 3%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 20px; 
    text-align: center; 
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
    background-color: #888D82;
    border-radius: 15px;
    font-weight: 500;
    width: 130px;
  }

  table, th, td {
    border: 25px solid white;
    margin-left: 750px;
  }

  